@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: rgba(249, 249, 249);
    flex-direction: column;
    position: relative;
}

/* ***************** */

.main-panel {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.main-panel button {
    padding: 1rem 5rem;
    margin: .1rem;
}

.menu {
   text-align: center;
   border: 2px solid black;
   padding: 5rem 1rem;
   position: relative;
   display: flex;
   flex-direction: column;
}
.menu h1 {
    position: absolute;
    top: -10%;
    background-color: rgba(249, 249, 249);
    /* background-color: red; */
    left: calc(25% - .5rem);
    padding: 0 1rem;
}

.popup {
    position: absolute;
    width: 18rem;
    height: 18rem;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 10px black;
    top: 25%;
    left: 30%;
    /* padding: 1rem; */
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: hidden;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.profile h3 { font-size: 1.5rem; }
.profile h4 { font-size: 1.2rem; }
.popup ion-icon {  font-size: 2.5rem; align-self: center; transform: rotate(45deg); position: absolute; top: 0; right: 0;} 
.popup ion-icon:active { top: -.1rem; color: red; }

.popup .head {
    text-align: center;
    margin-bottom: 1rem;
}

.writeBox {
    /* background-color: red; */
    /* position: absolute; */
    width: 100%;
    bottom: 0;
}

.writeBox div {
    width: 100%;
    min-height: 2rem;
    max-height: 8rem;
    overflow-y: auto;
    padding: 1rem;
    border: 2px solid white;
}

.writeBox div:empty::before {
    content: attr(data-placeholder);
    color: #707070;
    font-weight: 400;
}